<form [formGroup]="myForm">
    <div>
        <label for="todo">Add new todo</label><br>
        <input type="text"
               id="todo"
               formControlName="todo"
               placeholder="Add new line"
               [class]="this.myForm.status === 'VALID' ? 'green' : 'red'">

        <button (click)="onSubmit()" [disabled]="this.myForm.value.todo.length<6">Add todo</button>

        <div formArrayName="todos">
            <div class="group" *ngFor="let control of todos.controls; let i = index">
                <input type="text" [formControlName]="i"/>
                <button (click)="removeTodo(i)">Delete todo</button>
            </div>

        </div>
    </div>

</form>
