<form [formGroup]="myForm">
    <div>
        <mat-card>
        <label for="todo">Add new todo</label><br>
        <input type="text"
               id="todo"
               formControlName="todo"
               placeholder="Add new line"
               [class]="this.myForm.status === 'VALID' ? 'green' : 'red'">

        <button mat-flat-button (click)="onSubmit()" [disabled]="this.myForm.value.todo.length<6">Add todo</button>
        </mat-card>
        <div formArrayName="todos">
            <div class="group" *ngFor="let control of todos.controls; let i = index">
                <mat-card>
                    <mat-card-title>
                <input type="text" [formControlName]="i"/>
                    </mat-card-title>
                <button mat-flat-button (click)="removeTodo(i)"><mat-icon>delete</mat-icon></button>
                </mat-card>
            </div>

        </div>
    </div>

</form>
