.green {
    background-color: lightgreen;
}

.red {
    background-color: pink;
}

.deeppurple {
    color: #673AB7;
}

.mat-flat-button {
    background: #673AB7;
    color: #FFD740;
}

input {
    border-color: #673AB7;
    background-color: #FFD740;
    color: #673AB7;
}

@media (width: 414px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
